/* =======================privacy_policy atart========================= */
.section-title-cookie{
    text-align: center;
    width: 85%;
    margin: auto;
}
p.urbanist-black-16.link-support-bol a:hover{
    color: #000;
}